 &Disorientations
! name of input text file 1 (relative to EMdatapathname)
 inputfile1 = 'undefined',
! name of input text file 2 (relative to EMdatapathname)
 inputfile2 = 'undefined',
! name of output text file with disorientations (relative to EMdatapathname)
 outputfile = 'undefined', 
! point group number
 pgnum = 32,
! for two-phase case, we also need a second point group number (leave at zero for single phase)
 pgnum2 = 0,
 /
