 &HROSMdata
! The line above must not be changed
!
! The values below are the default values for this program
!
! [deg] max grain misorientation angle for clustering
 gangle = 5.0,
! [deg] misorientation ball radius for sampling
 misorang = 5.0,
! number of sampling points along radius of misorientation ball
 nsamples = 20,
! number of top matches to be used for OSM; this overrides the value from the EMDI run
 nosm = 10,
! dilate the grains to partially remove empty spaces at grain boundaries ? [EXPERIMENTAL]
 dilate = .FALSE.,
! input dot product file
 dpfile = 'undefined',
! output HDF5 file (contains grain clustering result, refined orientations, and new OSM)
 OSMfile = 'undefined',   
! new high resolution Orientation Similarity Map
 OSMtiff = 'undefined',   
! optional prefix for IPF map output
 IPFmap = 'undefined',
! maximum memory [in Gb] for inRAM indexing calculations; if a data set becomes 
! larger than this value, the preprocessing step will generate a file in
! the tmp folder rather than perform the indexing in RAM.  Note that this 
! determination is being made for each grain separately...
 maxRAMmem = 1.0,
 /
